
body {
background-color: #333;
color: white;

}

a {
    color: #ffc107;
}

.btn {
  display: table;
  margin: 0 auto;
  margin-bottom: 30px;
  color:  #000000;
  background-color: #ffc107;
}
.btn-default {
  background-color: #ffc107;
  color:  #000000;
}

.nav-link {
  margin-right: 5px;
  display: inline;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}


.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

/* body .form {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100vh;
  color: white;
  font-weight: 600;

  background-color: #333;
 
} */


/* 
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding:500px 0 150px;
  color: white;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
} */

