<!DOCTYPE html>
<html lang="en">

<head>

  <title>Work-Friendly Places with Free Wifi</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-transparent container-fluid" id="navBar">
 
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}" data-toggle="tooltip" title="Home">
          Home
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('login') }}" data-toggle="tooltip" title="Login">
          Login
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('register') }}" data-toggle="tooltip" title="Register">
          Register
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('logout') }}" data-toggle="tooltip" title="Logout">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>